@page
@model RevisionWebV2.Pages.AnswersModel
@{
}

<a href="answers?qid=@Model.previousId">
    <img class="previous_question_image" src="~/assets/previous.png"/>
</a>
<a href="answers?qid=@Model.nextId">
    <img class="next_question_image" src="~/assets/next.png"/>
</a>

<div class="center">
    <a href="questions?sid=@Model.subject.Id">Back to questions</a>

    <h5>@Model.subject.Title</h5>
    <h2>@Model.question.Title</h2>
    <div class="answers_container">
        @foreach (var a in Model.question.Answers)
        {
            <button class="answer" data-isRightAnswer='@a.IsRightAnswer' data-details='@a.Details'>@a.Title</button>
        }

        @if (Model.question.Answers.Count == 0)
        {
            <p>There's no answer yet.</p>
        }
    </div>

    <div class="details_container">
        <p><span id="trueOrNot"></span> <span id="answerDetails"></span></p>
    </div>

    @if (Model.isOwnUserQuestion == true && Model.shouldShowForm == true)
    {
        <form method="post" class="add_answer_form add_element_form">

            <input type="hidden" name="qid" value="@Model.qid" />
            <div>
                <div>
                    <label for="title">Proposition</label>
                    <input type="text" name="title">
                </div>

                <div>
                    <label for="details">Details</label>
                    <input type="text" name="details">
                </div>

                <div>
                    <label for="isRightAnswer">Is it the right answer ?</label>
                    <input type="checkbox" name="isRightAnswer" />
                </div>
            </div>


            <input type="submit" class="AddElementButton" value="Ajouter proposition">
        </form>
    }
</div>


@section Scripts{
    <script>
        $('.answer').click(function () {
            $('#trueOrNot').removeClass("wrong_answer")
            $('#trueOrNot').removeClass("right_answer")


            if (this.getAttribute('data-isRightAnswer') == "True") {
                $('#trueOrNot').text("Great! Right answer.")
                $('#trueOrNot').addClass("right_answer")
            }
            else {
                $('#trueOrNot').text("Oops! Wrong answer.")
                $('#trueOrNot').addClass("wrong_answer")
            }

            $('#answerDetails').text(this.getAttribute("data-details"))

        })

    </script>
}